<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CarHaus</title>


  <!-- jQuery library request -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- fancybox javascript file -->
  <script type="text/javascript" src="/javascripts/jquery.fancybox.js"></script>

  <!-- Bootstrap theme style sheet -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  <!-- fancybox stylesheet -->
  <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />


</head>
<body>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/home">CarHaus</a>
  </div>

    <!-- Nav bar display with logic to display only if a user is logged in -->
    <ul class="nav navbar-nav">
    <% if(typeof user  !== 'undefined') {%>
      <li><a href="/profile/<%= user.id %>">Your Garage</a></li>
      <li><a href="/posts/<%= user.id %>/new">New Post</a></li>
       <li><a href="/search">Search</a></li>
    </ul>
    <% } %>

    <form class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</div>


<div class="container">