<% include partials/header %>

<h1>About CarHaus</h1>

<h4>CarHaus is a community created by and for car enthusiasts.</h4>
<h4>Here is a sample of some of the functionality we hope to add in the near future:</h4>
<ul>
  <li>Tags for Posts</li>
  <li>Search Tags</li>
  <li>Post Comments</li>
  <li>Followers</li>
</ul>




<hr>
<footer>
Version: 1.0.1 |
By: Matthew Moughan |
Email: <a href="mailto:CarHausInfo@gmail.com">CarHausInfo</a>|
Image Uploader API: <a href="https://uploadcare.com/" target="_blank">Uploadcare</a> |
Car Database API: <a href="http://www.carqueryapi.com/" target="_blank"r>CarQueryAPI</a>
</footer>



<% include partials/footer %>