<% include partials/header %>

<!-- UploadCare javascript -->
<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url facebook gdrive box instagram";
  UPLOADCARE_AUTOSTORE = true;
  UPLOADCARE_PUBLIC_KEY = "bdbd948ae4ebccabad3b";
</script>
<script src="//ucarecdn.com/widget/1.4.2/uploadcare/uploadcare-1.4.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/javascripts/lodash.min.js"></script>



<h2>Upload a photo and post!</h2>
<br>

<form method="POST" action="/posts/<%=user.id %>">
    <p>
    Select a Photo: <input type="hidden" role="uploadcare-uploader" id="imageUpload" name="placeholder" />
    </p>
    Title: <input type="text" name="title" placeholder="Title" /> <br />
    <br>
    Body: <input type="text" name="body" placeholder="Body" /><br /> <br />

    <input type="submit" value="Submit" />
</form>



</body>
</html>